@import "../../../styles/master";

.landing {
  .works {
    height: $page-height;
    background-color: $color-grey-900;
    color: $color-grey-000;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20%;

    &__content {
      &--title {
        font-size: 70px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 20px;
      }

      &--details {
        font-size: 18px;
        color: $color-grey-300;
        line-height: 2;
        letter-spacing: 1.2px;
      }

      &--more {
        margin-top: 40px;
        cursor: pointer;
      }
    }
  }
}
