* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.3;

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: $color-grey-900;
  max-width: 100vw;
  overflow-x: hidden;
}

a,
a:active,
a:visited {
  color: inherit;
  text-decoration: none;
}

input,
textarea {
  background-color: $color-grey-800;
  color: $color-grey-200;
  border: none;
  outline: none;
  padding: 15px;
  border-radius: 8px;

  &::placeholder {
    color: $color-grey-500;
  }
}

textarea {
  min-height: 250px;
}

button {
  background-color: $color-grey-000;
  border: none;
  outline: none;
  padding: 15px 20px;
  color: $color-grey-600;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
}
