$color-background: black;
$color-text: white;

$color-grey-900: #20292c;
$color-grey-800: #2c3539;
$color-grey-700: #3b494f;
$color-grey-600: #42555c;
$color-grey-500: #587b82;
$color-grey-400: #73969d;
$color-grey-300: #a1babf;
$color-grey-200: #c8d6d9;
$color-grey-100: #e2eaeb;
$color-grey-000: #f4f7f7;
