@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-main: #1a1a1a;
  --text-main: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: var(--background-main);
  color: var(--text-main);
}
